/*
 * Style main menu */

#masthead {

	z-index: 10;
	background-repeat: no-repeat;
	background-size: cover;
	@include transition(transform 0.3s 0.1s);

	#magic-line {
		position: absolute;
		height: 2px;
		z-index: 999;
		bottom: 26px;
	}

	&.affix.menu-hidden {
		@include translate(0, -100%);
	}

	&.header-overlay {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 999;
	}

	&.header-default {
		position: relative;
	}

	&.no-affix-top {
		.no-sticky-logo {
			display: none;
		}
		.sticky-logo {
			display: block;
		}
	}

	&.affix-top {
		background-color: transparent;
		@include transition(background-color 0.5s, transform 0.3s 0.1s);
		.sm-logo {
			.no-sticky-logo {
				display: block;
			}
			.sticky-logo {
				display: none;
			}
		}
	}

	&.affix {
		z-index: 9999;
		position: fixed;
		width: 100%;
		@include transition(transform 0.3s 0.1s);
		.sm-logo {
			.no-sticky-logo {
				display: none;
			}
			.sticky-logo {
				display: block;
			}
		}
		&.menu-hidden {
			@include transition(all 0.5s ease-in-out);
		}
	}

	.navigation {
		.tm-table {
			width: 100%;
		}
		.width-navigation {
			ul {
				li {
					list-style: none;
					display: inline-block;
					vertical-align: middle;
					margin-bottom: 0;
				}
			}
			.inner-navigation {
				.navbar {
					margin-bottom: 0;
					border: none;
					padding: 0;
					text-align: right;
					min-height: inherit;
					> li {
						&.menu-item {
							float: left;
							&.menu-item-has-children {
								margin-right: 15px;
							}
							span.icon-toggle {
								display: inline-block;
								font-size: 13px;
								font-weight: 700;
								position: absolute;
								top: 50%;
								right: 4px;
								margin: 0;
								line-height: 24px;
								@include translate(0, -50%);
							}
							> a {
								font-weight: bold;
								text-transform: uppercase;
								display: inline-block;
							}
							> ul.sub-menu {
								left: 0;
								.menu-item-has-children {
									position: relative;
									.icon-toggle {
										position: absolute;
										top: 50%;
										right: 15px;
										@include translate(0, -50%);
									}
									&:hover .icon-toggle i:before {
										content: "\f105";
									}
								}
							}
							&.menu-item-has-children .sub-menu li {
								a, span:not(.icon-toggle) {
									padding: 12px 0;
									font-size: 14px;
								}
							}
						}
					}

					li.menu-item {
						a {
							padding: 14px 20px 10px 20px;
							display: block;
							white-space: nowrap;
						}
					}
				}
			}

			.mega-menu-wrapper {
				.menu-right {
					float: right;
				}
			}
		}
	}

	&.header_v1 {
		.navigation .width-navigation .inner-navigation .navbar > li {
			> a,
			> span:not(.icon-toggle) {
				padding: 14px 20px 10px 20px;
			}
		}

		.navigation .width-navigation .inner-navigation {
			width: 100%;
		}
	}

	&.header_v2 {
		.navigation {
			padding-top: 10px;
			padding-bottom: 3px;
			.navbar > li.menu-item {
				&:nth-last-child(2),
				&:nth-last-child(3) {
					.sub-menu .sub-menu {
						right: 100% !important;
						left: auto !important;
					}
				}
			}
		}
	}

	&.header_v3 {
		ul {
			margin: 0;
			li {
				margin-bottom: 0 !important;
			}
			&.list-inline > li:first-child {
				padding-left: 0;
			}
		}

		.widget_shopping_cart .widget_shopping_cart_content {
			top: 45px;
		}

		.thim-top-logo {
			padding-top: 19px;
			padding-bottom: 19px;
			.text-left {
				padding-left: 0;
			}
			.text-right {
				padding-right: 0;
				> ul > li:last-child {
					padding-right: 0;
				}
			}
			.toggle-form,
			.social-link li a,
			.cart-items-number {
				display: inline-block;
				height: 32px;
				width: 32px;
				line-height: 30px;
				text-align: center;
				@include rounded(100%);
				border: 2px solid $border-color;
			}
		}

		.navigation {
			padding-top: 7px;
			padding-bottom: 7px;
			.inner-navigation {
				width: 100%;
				#primary-menu li:first-child {
					a {
						padding-left: 0;
					}
				}
			}
		}
	}

	select {
		background: transparent;
		border: 0;
		option {
			color: #333;
		}
	}

	.select2-container--default {
		&.select2-container--open {
			.selection {
				.select2-selection--single {
					.select2-selection__arrow {
						b {
							border-color: transparent transparent #fff;
						}
					}
				}
			}
		}
		.selection {
			.select2-selection--single {
				background-color: transparent;
				border: 0;
				&:focus {
					outline: none;
				}
				.select2-selection__rendered {
					padding-left: 0;
					color: #FFF;
					line-height: 26px;
					font-weight: 700;
				}
				.select2-selection__arrow {
					line-height: 21px;
					height: 21px;
					b {
						border-color: #fff transparent transparent;
					}
				}
			}
		}
	}

	.select2-container {
		.select2-choice {
			background-color: transparent;
			border: 0;
		}
	}

	.select2-dropdown-open {
		.select2-choice {
			box-shadow: none;
		}
	}
}

body:not(.mobile-menu-open) header {
	.navbar li:not(.multicolumn) {
		.sub-menu {
			li {
				padding: 0 20px;
				a, > span.disable_link {
					@include transition(all 0.2s ease-in-out 0s);
					padding: 12px 0;
					display: block;
				}
			}
		}
		> .sub-menu {
			margin-left: 0;
			top: auto;
		}
		.sub-menu {
			background: #fff;
			min-width: 200px;
			margin-left: 0;
			li {
				width: 100%;
			}
		}
	}
}

@media (min-width: 769px) {
	.navigation {
		.sm-logo {
			a img {
				@include transition(all ease-out .3s);
			}
		}
		.width-navigation {
			.inner-navigation {
				display: table;
				.navbar {
					display: table-cell;
					vertical-align: middle;
					width: auto;
					> li {
						position: relative;
						.sub-menu {
							min-width: 200px;
							position: absolute;
							top: auto;
							right: 0;
							display: none;
							z-index: 999;
							padding: 0;
							margin: 0;
							@include box-shadow(0 2px 3px rgba(0, 0, 0, .09));
							li {
								width: 100%;
								text-align: left;
								position: relative;
								&:after {
									content: "";
									position: absolute;
									left: 20px;
									right: 20px;
									height: 1px;
									background-color: $border-color;
								}
								&:last-child {
									&:after {
										display: none;
									}
								}
							}
							.sub-menu {
								top: 0;
								left: 100%;
							}
						}

						&:nth-last-child(2),
						&:nth-last-child(3) {
							.sub-menu .sub-menu {
								right: 100%;
							}
						}
					}
				}
			}
		}
	}

	header.site-header {
		&.header_v1 {
			.width-navigation .inner-navigation {

			}
		}
		&.header_v2 {
			.width-navigation .inner-navigation {
				float: right;
			}
		}
	}
}

@media (max-width: 768px) {
	.mobile-menu-container {
		.select2-container {
			width: 100% !important;
			display: block;
		}
	}
}

@media (max-width: 1024px) {
	#masthead {
		.navigation {
			.width-navigation {
				.inner-navigation {
					.navbar {
						> li.menu-item {
							> a {
								padding: 14px 15px 10px;
							}
						}
					}
				}
			}
		}
	}
}

.select2-container {
	z-index: 999999;
}