/*
 * Include shortcodes default style from customize */

// Gallery shortcode
.wpb_gallery_slides {
  .flex-control-nav {
    li a {
      &:hover, &.flex-active {
        background: $thim_body_primary_color;
      }
    }
  }
}

.wpb_images_carousel {
  .vc_images_carousel{
    a.vc_carousel-control {
      background: $thim_body_primary_color;
      &:hover{
        background: darken( $thim_body_primary_color, 10%);
      }
    }
  }
}